.clearfix:before,.clearfix:after{content:"";display:table;}.clearfix:after{clear:both;}.clearfix{zoom:1;}
.vtexsc-overlay,.vtexsc-buttonOverlay{position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;display:none;background:url("/arquivos/ajax-loader.gif") no-repeat center center #FFF;opacity:0.6;filter:Alpha(opacity=60);}
.vtexsc-newItem td{background:url("/arquivos/vtexsc-bgbody.jpg");}
.vtexsc-productList li{position:relative;}
.vtexsc-cart{display:none;width:484px;}
.vtexsc-wrapBtn{position:relative;float:right;height:56px;width:198px;clear:both;}


/* SUGESTÕES DE CSS */
/* Geral */
.vtexsc-arrowTop,.vtexsc-arrowBottom{height:12px;cursor:pointer;}
.vtexsc-arrowTop{background:url("/arquivos/vtexsc-arrowTop.png") no-repeat center bottom;margin:6px;}
.vtexsc-arrowBottom{background:url("/arquivos/vtexsc-arrowBottom.png") no-repeat center top;margin:6px;}
.vtexsc-bt{height:5px;background:url("/arquivos/vtexsc-cartBorderTop.png");}
.vtexsc-center{padding-bottom:45px;border:1px solid #87A921;background:#E9E9E9;}
.vtexsc-bb{height:5px;background:url("/arquivos/vtexsc-cartBorderBottom.png");}
.vtexsc-cart{position:absolute;right:20px;top:65px;z-index:6000;}
.vtexsc-wrap{margin:0 9px;background:#FFF;padding:0 8px;overflow:hidden;position:relative;max-height:200px;}
.vtexsc-productList{width:100%;}
.vtexsc-productList td{padding:5px;position:relative;border-top:1px solid #A2A2A2;height:66px;}
.vtexsc-productList tbody tr:first-child td{border:none;}
.vtexsc-productList td a{color:#5F8A16;}
.vtexsc-productList td *{font-size:11px;font-weight:normal;}
.vtexsc-productList .sku-imagem{display:block;border:1px solid #F1F1F1;}
.vtexsc-cart .cartSkuImage img{max-width:34px;max-height:34px;}
.vtexsc-cart .cartSkuMoreOne,.vtexsc-cart .cartSkuMinusOne{display:block;width:15px;height:10px;cursor:pointer;}
.vtexsc-cart .cartSkuMoreOne{background:url("/arquivos/vtexsc-more.png");margin-bottom:4px;}
.vtexsc-cart .cartSkuMinusOne{background:url("/arquivos/vtexsc-minus.png");}
.vtexsc-cart .cartSkuRemove{background:url("/arquivos/vtexsc-remove.png");width:14px;height:14px;display:block;margin-top:4px;cursor:pointer;}
.vtexsc-cart .cartSkuPrice *{white-space:nowrap;}
.vtexsc-cart .cartSkuPrice span{}
.vtexsc-cart .cartSkuPrice span:first-child{color:#676262;font-size:12px;}
.vtexsc-cart .cartSkuQtt{position:relative;padding-right:16px;}
.vtexsc-cart .cartSkuQttTxt{display:block;padding:0;width:33px;line-height:24px;min-height:24px;text-align:center;border:solid 1px #DADADA;}
.vtexsc-cart .cartSkuChangeQttWrap{display:block;position:absolute;right:0;top:0;margin-top:0;}
.vtexsc-cart .cartSkuActions .cartSkuChangeQttWrap{display:none;}
.vtexsc-cart .cartFooter{margin:0 9px;}
.vtexsc-cart .cartTotal{float:left;position:relative;}
.vtexsc-cart .cartTotal{color:#666666;font-size:12px;text-transform:uppercase;margin-top:10px;}
.vtexsc-cart .cartTotal *{color:#5F8A16;font-size:16px;text-transform:uppercase;font-weight:bold;}
.vtexsc-cart .cartFooter >a{float:right;display:block;}
.vtexsc-cart .cartCheckout{background:url("/arquivos/vtexsc-checkout.png") #2F9734;width:197px;height:27px;margin-left:3px;}
.vtexsc-cart .viewCart{background:url("/arquivos/vtexsc-showCart.png") #982325;width:95px;height:17px;margin-top:5px;}
.vtexsc-cart tr.brinde{display:none;}


/* Barra flutuante no topo */
.floatingTopBar{display:none;height:49px;position:fixed;top:0;left:0;z-index:20000;background:#FE7E00;width:100%;border-bottom:solid 2px #864200}
.floatingTopBarWrap{width:1000px;margin:0 auto;}

/* Elementos dentro da Barra */
.floatingTopBar .fulltext-search-box{background:#FFF;border:medium none;color:#9E9E9E;font-size:12px;height:24px;line-height:16px;padding:1px 5px;width:400px;}
.floatingTopBar .search{float:left;margin:6px 0;}
.floatingTopBar .busca select,.floatingTopBar .busca legend,.floatingTopBar .busca label{display:none;}
.floatingTopBar .btn-buscar{background:url("/arquivos/btBuscar.png");border:medium none;font-weight:bold;margin:0;padding:3px 6px 7px;text-align:center;width:71px;height:29px;text-indent:-999em;}
.floatingTopBar ._logo{background-image:url("/arquivos/_2logo.png");background-position:0 0;background-repeat:no-repeat;float:left;height:38px;margin:5px 10px 0 0;text-indent:-999em;width:194px;}
.floatingTopBar .cartInfo{background:url("/arquivos/sc_fadebar_sprite.png") -8px -41px;float:left;margin:8px 0 0;padding:6px 0 8px 165px;width:123px;position:relative;}
.floatingTopBar .cartInfo .linkCart{position:absolute;left:0;top:0px;width:100%;height:100%;text-indent:-999em;}
.floatingTopBar .title,.floatingTopBar .amount-kits,.floatingTopBar .amount-products{display:none;}
.floatingTopBar .cartInfo li{float:left;margin:0;border-left:1px solid #000;font-size:11px;padding:0 2px;}
.floatingTopBar .cartInfo .amount-items{border:0 none;}
.floatingTopBar .cartInfo span{font-weight:normal;}
.floatingTopBar .cartInfo em{font-style:normal;}
.floatingTopBar .vtexsc-showCart{background:url("/Control/ArquivoExibir.aspx?IdArquivo=155560") no-repeat scroll -86px 0 transparent;float:right;height:44px !important;width:298px;position:relative;}
.floatingTopBar .vtexsc-showCart >a{display:none;}
.floatingTopBar .vtexsc-showCart .cart-info li{float:left;}
.floatingTopBar .vtexsc-showCart .cart-info li *{color:#FFFFFF;font-size:12px;font-style:italic;font-weight:bold;text-transform:capitalize;}
.floatingTopBar .vtexsc-showCart .cartInfoWrapper{margin-left:140px;margin-top:13px;}
.vtex_cartWrapper{height:1px;position:relative;width:100%;}


/* Pop up */
.selectSkuTitle{font-size:14px;font-weight:bold;margin:0;padding-bottom:10px;}
.skuListWrap_ .item_unavaliable{text-decoration:line-through;}
.vtexsc-buyButton{background:url("/arquivos/sprite.png") -379px -279px;display:block;height:28px;float:right;width:174px;}
.vtexsc-buttonWrap{padding:0 10px 10px 0;}
/* Pop com a variação de SKU */
.vtexsc-buyButton{background:url("/arquivos/_bt_comprar.png") repeat scroll 0 0 transparent;display:block;float:left;height:26px;margin:10px auto 0;text-indent:-9999pc;width:120px;}
.vtexsc-buyButton:hover{opacity:0.5;filter:alpha(opacity=50);}
.vtexsc-buttonWrap:before,.vtexsc-buttonWrap:after{content:"";display:table;}.vtexsc-buttonWrap:after{clear:both;}.vtexsc-buttonWrap{zoom:1;}	
.vtexsc-skuProductImage{float:left;}
.vtexsc-skuProductImage img{position:static;}
.skuListWrap_{float:left;padding:0;width:260px;}
.skuListWrap_ li{width:auto!important;margin:0 0 5px 0}
.skuListWrap_ li.specification{font-size:14px;font-weight:bold;margin-top:0!important;}
.skuListWrap_ ul{padding:0 10px!important;}
.skuListWrap_ .vtexsc-buyButton{float:right;}
.skuListWrap_ .skuList span{display:block!important;padding:0 10px!important;width:auto!important;line-height:24px;}
.skuListWrap_ .vtexsc-buttonWrap .vtexsc-buyButton{float:none!important;margin:0 auto!important;}
.skuListWrap_ .vtexsm-prodTitle{text-align:center;font-size:14px;}
.vtexsc-skuProductPrice{margin:8px 0 14px 93px;}


/* Estilo para o popup gerado através do plugin(caso já tenha estilizado em outro local,pode remover o trecho abaixo) */
.boxPopUp2,.boxPopUp2-overlay{display:none;}
.boxPopUp2{position:absolute;top:50px;width:100%;text-align:center;z-index:999999;left:0;}
.boxPopUp2-overlay{background:#000;position:fixed;left:0;top:0;width:100%;height:100%;opacity:0.5;filter:alpha(opacity=50);z-index:999998;cursor:pointer;}
.boxPopUp2-wrap{width:411px;margin:0 auto;text-align:left;position:relative;}
.boxPopUp2-content{background:none repeat scroll 0 0 #FFF;border-radius:5px 5px 5px 5px;padding:5px;width:400px;z-index:102;}
.boxPopUp2-content iframe{width:100%;min-height:185px;}
.boxPopUp2-close{background:url("/Control/ArquivoExibir.aspx?IdArquivo=164696") no-repeat scroll 0 0 transparent;color:transparent;cursor:pointer;display:block;font-size:0;height:15px;position:absolute;right:5px;text-decoration:none;text-indent:-9999px;top:5px;width:15px;}